.character-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left: 10%;
    flex-wrap: wrap;
    color: white;
}

.character {
    margin: 0 5% 5%;
    background-color: black;
    border: 2px solid yellow;
    width: 22%;
}

.character-name{
    font-size: 1.6rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    letter-spacing: .3rem;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    transform: scale(1.5);
    background: black;  
    border: 1px solid red;
    box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}