.character-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left: 10%;
    flex-wrap: wrap;
    color: white;
}

.character {
    margin: 0 5% 5%;
    background-color: black;
    border: 2px solid yellow;
    width: 22%;
}

.character-name{
    font-size: 1.6rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 5% 0;
}