.character-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-left: 20%;
    flex-wrap: wrap;
    color: white;
}

.character {
    margin: 0 5% 3%;
    background-color: black;
    border: 2px solid yellow;
    width: 22%;
}

.character-name{
    font-size: 1.6rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    letter-spacing: .2rem;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

li:hover {
    transform: scale(1.5);
    transition: transform .15s linear;
    background: black;  
    border: 1px solid red;
    box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}
.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
.page-list {
    color: white;
    cursor: pointer;
    width: 3%;
    border-bottom: 1px solid yellow;
    border-top: 1px solid yellow;
    background: black;
}
.page-list:hover {
    transform: none;
    border: none;
    box-shadow: none;
    color: grey;
    background: white;
}